<h1>Sessions#index</h1>
<p>Find me in app/views/sessions/index.html.erb</p>
<form method='post' action='/users'>
  <input type='hidden'  name='authenticity_token' value='<%= form_authenticity_token %>'>
  <input name='user[email]' type='text' placeholder='email address' />
  <input name='user[first_name]' type='text' placeholder='first name' />
  <input name='user[last_name]' type='text' placeholder='last name' />
  <input name='user[password]' type='password' placeholder='password' />
  <input name='user[password_confirmation]' type='password' placeholder='confirm password' />
  <button type='submit'>Create profile</button>
</form>
